/* General and background styling */
body, html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #1a1a1a, #333); /* Enhanced Gradient Background */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main container */
.container {
    max-width: 500px;
    background: rgba(255, 255, 255, 0.1);
    padding: 2em;
    border-radius: 24px;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    text-align: center;
    backdrop-filter: blur(10px); /* Frosted glass effect */
}

/* Title */
h1 {
    font-size: 2.8em;
    margin-bottom: 0.4em;
    color: #fff;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Calorie information */
.calorie-display {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calorie-info {
    text-align: center;
}

#calories {
    font-size: 6.5em;
    font-weight: 900;
    color: #FF6347;
    line-height: 0.9;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: -10px; /* Pull the text up slightly */
    animation: popIn 0.5s ease 0.5s forwards;
}

.calories-text {
    font-size: 1.5em;
    color: #ddd;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    width: 100%; /* Ensures that the text is centered */
}

/* New Animation */
@keyframes popIn {
    0% { transform: scale(0.8); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

/* Mobile Responsiveness */
@media only screen and (max-width: 600px) {
    h1 { font-size: 2.5em; }
    #calories { font-size: 5.5em; }
    .calories-text { font-size: 1.3em; }
}
